<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Caesar Cypher</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

        <meta charset="UTF-8">
    </head>

    <body>
    <header>

        <div class="parent">
            <h1 class="naslov">The Caesar Cypher</h1>
            <h2>(English alphabet)</h2>
        </div>

            <div class="master-div">
                <div class="form">
                <form method="post" action="/">

                    <textarea type="text" name="text" class="prompt" placeholder="input some text"></textarea>
                          <button type="submit" class="btn-submit">Submit</button>
                </form>
                </div>
                <textarea type="text" name="text" class="text-area">{{ code }}</textarea>
            </div>

    </header>
    </body>
</html>


