* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 900px;
}

h1 {
    color: rgba(175, 175, 175, 0.65);
    font-size: 100px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    font-weight: lighter;
}

.parent {
    text-align: center;
}

h2 {
    display: inline-block
    margin-left: 40%;
    font-size: 50px;
    color: rgba(175, 175, 175, 0.65);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 10px;
}

.form {
    margin-top: 5%;
    display: left;
}

.input-text {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    float: left;
}

div-prompt {
    float: left;
}

.prompt {
    width: 40%;
    margin-right:10px;
    margin-left: 30%;
    height: 250px;
    font-size: 24px;
    border: solid 1px white; /*1px solid rgba(0, 78, 255, 0.3);*/
    color: rgba(175, 175, 175, 0.65);
    background-color: rgba(54, 54, 54, 0);
    border-radius: 5px;
    float: left;
}

.prompt:focus {
    background-color: rgba(255, 255, 255, 0);
}

.btn-submit {
    width: fit-content;
    width: 75px;;
    margin-top: 202px;
    margin-left: 8px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(175, 175, 175, 0.65);
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 6px;
    transition: border 0.5s;
}

p {
    color: rgba(175, 175, 175, 0.65);
    margin-left: -20px;
}

.btn-submit:hover {
    background-color: rgba(42, 53, 78, 0);
    border: solid 1px #004eff;
    color: rgba(42, 53, 78, 0);
}

header {
    margin-top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(background3.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.text-area {
    margin-top: 1.5%;
    width: 46.7%;
    margin-left: 30%;
    height: 250px;
    font-size: 24px;
    border-radius: 6px;
    border: solid 1px white; /*1px solid rgba(0, 78, 255, 0.3);*/
    background-color: rgba(54, 54, 54, 0);
    color: rgba(175, 175, 175, 0.65);
}











